.todo-container {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todo-title {
  color: #333;
}

.todo-content {
  color: #666;
}

.todo-date {
  color: #999;
  font-size: 0.8rem;
}

.delete-button {
  background-color: #36c5f4; /* Red */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}

.delete-button:hover {
  background-color: #017ea1; /* Darker red */
}
